.headerCart {
    cursor: pointer;
    position: relative;
}

.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: white;
    visibility: hidden;
    z-index: 1;
    width: 350px;
    transition: 1s;
    height: 100vh;
    overflow: scroll;
}

.sideBar.active {
    visibility: visible;
    right: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cartItem {
    display: flex;
    color: black;
    font-size: 0.9rem;
    overflow-wrap: break-word;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
}

.cartDetail {
    border: 3px solid black;
    width: 160px;
}

.cartDetail > label {
    margin-left: 0.25rem;
    font-weight: bold;
}

.cartImg {
    width: 160px;
    height: 160px;
}

.cartText {
    margin: 0.5rem 0 0.8rem 0.3rem;
    font-weight: bold;
}

.quantInput {
    margin-left: 0.3rem;
    width: 50px;
}

.cartTotal {
    color: black;
}

.removeItem {
    border: 1px solid gray;
    background-color: red;
    color: white;
    outline: none;
    margin-left: 0.3rem;
    border-radius: 8px;
}

.cartDetail:hover {
    background-color: rgba(151, 192, 113, 0.4);
}

.removeItem:active, .checkOut:active {
    transform: scale(0.95);
}

.checkOut {
    border: none;
    background-color: black;
    outline: none;
    margin-left: 0.3rem;
}

.checkOutLink {
    text-decoration: none;
    color: white;
}

.checkOut:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.emptyCart {
    margin: auto;
    color: rgb(122, 131, 131);
}

.cartLength.active {
    position: absolute;
    top: 50%;
    left: -60%;
    background-color: green;
    border-radius: 50%;
    border: 3px solid rgb(7, 53, 7);
    width: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}