.navBar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    
}

.links {
    display: flex;
    gap: 36px;
    align-items: center;
    color: white;
}

.headerLinks {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.headerLinks:hover, .headers:hover {
    animation: textColor 4s infinite;
}

@media screen and (max-width:1000px){
    .navBar {
        justify-content: center;
    }
}

@keyframes textColor {
    0% {color : red}
    30% {color: green;}
    50% {color: blue;}
    70% {color: orange}
    100% {color: red;}
}
