.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Asset/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.homeTitle {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bolder;
}

.homeShopLink {
    text-decoration: none;
    color: white;
}

.homeButton {
    border: 3px solid  transparent;
    background-color: black;
    font-size: 2rem;
}

.homeButton:hover {
    animation: btnEffect 3s linear infinite;
    transition: 1s;
    transform: scale(1.2);
}

.hoemButton:active {
    transform: scale(0.95);
}

@keyframes btnEffect {
    0% {border: 3px solid #00C0FF }
    24% {border: 3px solid rgb(0, 255, 0)}
    49% {border: 3px solid #FFCF00 }
    60% {border: 3px solid #FC4F4F }
    80% {border: 3px solid rgb(147, 0, 252)}
    100% {border: 3px solid #00C0FF }
}

@media screen and (max-width: 1000px) {
    .homeTitle, .homeButton {
        font-size: 1.2rem;
        text-align: center;
    }
    
}