.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.5rem;
    flex-grow: 1;
}

.itemName {
    border-bottom: 3px solid black;
    margin-bottom: 2.5rem;
    margin-top: 7rem;
}

.prodInfo {
    display: flex;
    gap: 1.8rem;
}

.prodImg {
    width: 400px;
}

.prodDescrip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    font-size: 1.5rem;
}

.descrip {
    overflow-wrap: break-word;
    font-weight: bold;
}

.addCart {
    border: 3px solid black;
    background: rgb(50, 172, 50);
    outline: none;
    width: 200px;
    font-size: 1.5rem;
}

.addCart:hover {
    background-color: rgba(25, 231, 25, 0.4);
}

.addCart:active {
    transform:scale(0.95)
}

@media screen and (max-width: 1000px) {
    .prodInfo {
        flex-direction: column;
        align-items: center;
    }

    .prodDescrip {
        font-size: 0.8rem;
        width: 200px;
        overflow-wrap: break-word;
    }

    .prodImg {
        width: 200px;
    }
}