.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.shopHeader {
    text-align: center;
    border-bottom: 3px solid black;
    margin: 2rem 0 2rem 0
}

.shopList {
    display: grid;
    grid: 1fr 1fr/ repeat(auto-fit, 380px);
    width: 1400px;
    gap: 96px;
}

.shopLinks {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

.shopItemName, .shopItemPrice {
    padding: 0.8rem 0 0.8rem 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0px;
}

.shopItemName, .shopItemPrice {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.shopItemPrice {
    border-bottom: 3px solid black
}

.shopLinks:hover {
    background-color: rgba(0, 0, 0);
    color: white;
}

@media screen and (max-width: 1000px) {
    .shopList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .shopImg {
        width: 260px;
    }

    .shopText {
        font-size: 0.8rem;
    }

    .shopItem {
        width: 260px;
    }
}